<div class="app-content position-relative d-flex align-items-stretch h-100">
  <div class="navigation-bar-content position-relative">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="body-content position-relative
  d-flex flex-column flex-grow-1 px-2">
    <div class="body-header w-100 d-flex align-items-center">
      <app-header class="w-100 h-100"></app-header>
    </div>
    <div class="body-page flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>