.logo-bgcolor {
  background-color: #4d4d4f!important
}

.about-us-font {
  font-size: 1rem;
}

.contact-us-row-height {
  height: 3rem !important;
}

.contact-us-font {
  font-size: 1.5rem;
}
.p-button-alternate {
  background-color: #3a589d !important;
}