<div class="d-flex align-items-center flex-column w-100 h-100">
  <div class="d-flex align-items-center w-100 h-50 logo-bgcolor">
    <div class="d-flex align-items-center w-75 h-100">
      <img alt="Card" src="assets/buildxact.svg">
    </div>
    <div class="d-flex align-items-center w-25 h-100"></div>
  </div>
  <div class="d-flex align-items-center w-100 h-50">
    <div class="d-flex align-items-center h-100 w-50">
      <p-card header="About us" styleClass="h-100 w-100" class="h-100 w-100 py-2 pr-1">
        <p class="about-us-font">
          Buildxact provides builders and tradies with simple online business tools. We help our customers get ahead and stay ahead with estimating and job management software to manage the job end-to-end, from first contact and quote to final invoice.
          Today, Buildxact’s cloud and mobile software is used by construction companies from one or two operators to teams of many, delivering new homes and renovations, as well as small commercial projects. Together they are estimating and project managing hundreds of millions of dollars in profitable construction jobs.
          Developed in close cooperation with key industry organisations and their members, we learned that customers need business tools that are exceptionally easy to use, locally supported and easy to get started with.
          Headquartered in Melbourne, Australia, we have customers spread across Australia, New Zealand and North America.
        </p>
      </p-card>
    </div>
    <div class="d-flex align-items-center h-100 w-50">
      <p-card header="Contact us" styleClass="h-100 w-100" class="h-100 w-100 pl-1 py-2">
        <div class="d-flex align-items-center flex-column h-100 w-100">
          <div class="d-flex align-items-center contact-us-row-height w-100">
            <span class="pi pi-map-marker contact-us-font"></span>
            <span class="font-weight-normal px-2 contact-us-font">
              Level 1/411 Collins Street, Melbourne VIC 3000
            </span>
          </div>
          <div class="d-flex align-items-center contact-us-row-height w-100">
            <span class="pi pi-phone contact-us-font"></span>
            <span class="font-weight-normal px-2 contact-us-font">
              1800 965 597
            </span>
          </div>
          <div class="d-flex align-items-center contact-us-row-height w-100">
            <span class="pi pi-envelope contact-us-font"></span>
            <span class="font-weight-normal px-2 contact-us-font">
              info@buildxact.com.au
            </span>
          </div>
          <div class="d-flex align-items-center contact-us-row-height w-100">
            <button pButton pRipple type="button" icon="pi pi-google"
            class="p-button-rounded p-button-secondary" pTooltip="Google" tooltipPosition="bottom">
            </button>
            <button pButton pRipple type="button" icon="pi pi-facebook"
            class="p-button-rounded p-button-alternate ml-2" pTooltip="Facebook" tooltipPosition="bottom">
            </button>
            <button pButton pRipple type="button" icon="pi pi-twitter"
            class="p-button-rounded p-button-info ml-2" pTooltip="Twitter" tooltipPosition="bottom">
            </button>
            <button pButton pRipple type="button" icon="pi pi-envelope"
            class="p-button-rounded p-button-help ml-2" pTooltip="Email" tooltipPosition="bottom">
            </button>
            <button pButton pRipple type="button" icon="pi pi-youtube"
            class="p-button-rounded p-button-danger ml-2" pTooltip="Youtube" tooltipPosition="bottom">
            </button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>